.form {
    min-width: 840px;
    background-color: var(--white);
    border: 1px solid var(--greyD9);
    border-radius: 4px;
    margin-bottom: 60px;
}

.input {
    min-width: 840px;
    min-height: 90px;
    margin-bottom: -5px;
}

.form_bottom {
    display: flex;
    border-radius: inherit;
}

.controls {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--greyD9);
}

.btnSubmit {
    flex-basis: 20%;
    background-color: var(--orange);
    padding: 17px 50px;
    border-bottom-right-radius: inherit;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 2px;
}
