.container{
    width: 100%;
    flex: 1 1 0%;
}

.listContainer{
    position: relative;
    transform: rotate(0deg);
}

@media all and (min-width: 1024px) {
    .listContainer{
        position: relative;
        transform: rotate(0deg);
    }
}

.list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}